@import "./constants.css";

.add-btn {
  padding: 0px !important;
  background-color: var(--primary-color);
  color: var(--white);
}
.add-btn i {
  padding: 7px;
  font-weight: bold;
}
.add-btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.edit-btn {
  height: 40px;
  padding: 0px 30px;
}
.delete-btn {
  height: 40px;
  padding: 0px 30px;
  margin-left: 10px;
}

.datatable-table > tbody > tr > td {
  vertical-align: middle !important;
}

/* loader css  */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgb(205, 232, 255) !important;
  transform: translate(-50%, -50%);
}
.book {
  --book-color: var(--primary-color);
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: absolute;
  margin: 32px 0 0 0;
  zoom: 1.5;
  top: 50%;
  left: 50%;
}
.book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: book var(--duration) ease infinite;
}
.book .inner .left,
.book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--book-color);
  position: absolute;
}
.book .inner .left:before,
.book .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: left var(--duration) ease infinite;
}
.book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: right var(--duration) ease infinite;
}
.book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--book-color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}
.book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--book-color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.book ul li:nth-child(0) {
  animation-name: page-0;
}
.book ul li:nth-child(1) {
  animation-name: page-1;
}
.book ul li:nth-child(2) {
  animation-name: page-2;
}
.book ul li:nth-child(3) {
  animation-name: page-3;
}
.book ul li:nth-child(4) {
  animation-name: page-4;
}
.book ul li:nth-child(5) {
  animation-name: page-5;
}
.book ul li:nth-child(6) {
  animation-name: page-6;
}
.book ul li:nth-child(7) {
  animation-name: page-7;
}
.book ul li:nth-child(8) {
  animation-name: page-8;
}
.book ul li:nth-child(9) {
  animation-name: page-9;
}
.book ul li:nth-child(10) {
  animation-name: page-10;
}
.book ul li:nth-child(11) {
  animation-name: page-11;
}
.book ul li:nth-child(12) {
  animation-name: page-12;
}
.book ul li:nth-child(13) {
  animation-name: page-13;
}
.book ul li:nth-child(14) {
  animation-name: page-14;
}
.book ul li:nth-child(15) {
  animation-name: page-15;
}
.book ul li:nth-child(16) {
  animation-name: page-16;
}
.book ul li:nth-child(17) {
  animation-name: page-17;
}
.book ul li:nth-child(18) {
  animation-name: page-18;
}

@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(-90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

/* end loader css  */

.select-theme option {
  background-color: var(--bg-section-home);
}
.select-theme {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbddfa;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-theme option {
  padding: 10px;
}
.multiSelect {
  width: auto;
  position: relative;
}

.multiSelect *,
.multiSelect *::before,
.multiSelect *::after {
  box-sizing: border-box;
}

.multiSelect_dropdown {
  font-size: 14px;
  min-height: 35px;
  line-height: 35px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  background-color: #fff;
  color: #444f5b;
  border: 1px solid #b7d4ff;
  font-weight: 400;
  padding: 0.5px 13px;
  margin: 0;
  transition: 0.1s border-color ease-in-out;
  cursor: pointer;
}

.multiSelect_dropdown.-hasValue {
  padding: 5px 30px 5px 5px;
  cursor: default;
}

.multiSelect_dropdown.-open {
  box-shadow: none;
  outline: none;
  padding: 4.5px 29.5px 4.5px 4.5px;
  border: 1.5px solid #4073ff;
}

.multiSelect_arrow::before,
.multiSelect_arrow::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-radius: 20px;
  border-bottom: 8px solid #99a3ba;
  top: 40%;
  transition: all 0.15s ease;
}

.multiSelect_arrow::before {
  right: 18px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.multiSelect_arrow::after {
  right: 13px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.multiSelect_list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(10 * 31px);
  top: 28px;
  left: 0;
  z-index: 9999;
  right: 0;
  background: #fff;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: opacity 0.1s ease, visibility 0.1s ease,
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.1s ease, visibility 0.1s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.1s ease, visibility 0.1s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  -webkit-transform: scale(0.8) translate(0, 4px);
  transform: scale(0.8) translate(0, 4px);
  border: 1px solid #d9dbde;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.multiSelect_option {
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: translate(6px, 0);
  transform: translate(6px, 0);
  transition: all 0.15s ease;
}

.multiSelect_option.-selected {
  display: none;
}

.multiSelect_option:hover .multiSelect_text {
  color: #fff;
  background: #4d84fe;
}

.multiSelect_text {
  cursor: pointer;
  display: block;
  padding: 5px 13px;
  color: #525c67;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  position: relative;
  transition: all 0.15s ease;
}

.multiSelect_list.-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(0, 12px);
  transform: scale(1) translate(0, 12px);
  transition: opacity 0.15s ease, visibility 0.15s ease,
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open + .multiSelect_arrow::before {
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}

.multiSelect_list.-open + .multiSelect_arrow::after {
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.multiSelect_list.-open .multiSelect_option:nth-child(1) {
  transition-delay: 10ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(2) {
  transition-delay: 20ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(3) {
  transition-delay: 30ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(4) {
  transition-delay: 40ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(5) {
  transition-delay: 50ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(6) {
  transition-delay: 60ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(7) {
  transition-delay: 70ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(8) {
  transition-delay: 80ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(9) {
  transition-delay: 90ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(10) {
  transition-delay: 100ms;
}

.multiSelect_choice {
  background: rgba(77, 132, 254, 0.1);
  color: #444f5b;
  padding: 4px 8px;
  line-height: 17px;
  margin: 5px;
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
}

.multiSelect_deselect {
  width: 12px;
  height: 12px;
  display: inline-block;
  stroke: #b2bac3;
  stroke-width: 4px;
  margin-top: -1px;
  margin-left: 2px;
  vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
  stroke: #a1a8b1;
}

.multiSelect_noselections {
  text-align: center;
  padding: 7px;
  color: #b2bac3;
  font-weight: 450;
  margin: 0;
}

.multiSelect_placeholder {
  position: absolute;
  left: 20px;
  font-size: 14px;
  top: 8px;
  padding: 0 4px;
  background-color: #fff;
  color: #97a4c9;
  pointer-events: none;
  transition: all 0.1s ease;
}

.multiSelect_dropdown.-open + .multiSelect_placeholder,
.multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
  top: -11px;
  left: 17px;
  color: #4073ff;
  font-size: 13px;
}

.multiSelect_dropdown.-hasValue + .multiSelect_placeholder {
  top: -11px;
  left: 17px;
  color: #97a4c9;
  font-size: 13px;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  color: #97a4c9;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 8px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
  font-size: 13px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  background: #fff;
  color: #9cb0e9;
  border: 1px solid #cbddfa;
  border-radius: 4px;
  box-sizing: border-box;
}
.did-floating-input:focus
 {
  outline: none;
  border: 1px solid #4073ff;

  color: #424653;
}
.did-floating-select:focus
 {
  outline: none;
  border: 1px solid #4073ff;

  color: #424653;
}
.did-floating-input:focus ~ .did-floating-label,
.did-floating-select:focus ~ .did-floating-label {
  top: -8px;
  font-size: 11px;
  color: #4073ff;
}
select.did-floating-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.did-floating-select::-ms-expand {
  display: none;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}

.did-floating-select:not([value=""]):valid ~ .did-floating-label {
  top: -8px;
  font-size: 11px;
}

.did-floating-select[value=""]:focus ~ .did-floating-label {
  top: 11px;
  font-size: 13px;
}

.did-floating-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
  background-position: right 15px top 50%;
  background-repeat: no-repeat;
}
