@import './constants.css';

html, body{
    scroll-behavior: smooth;
    /* background:  linear-gradient()  !important; */
    background: var(--body-gradient-color) !important ;
    height: 100% !important;
    width: 100% !important;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section,main{
  width: 100% ;
}
hr{
  margin: 0 !important;
  padding: 0 !important;
}
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
/*
# Header
*/
.profile{
  padding-inline:20px;
  font-weight: var(--font-weight-medium) !important;
}
.profile:hover{
 color:var(--hover-primary-color) !important;
}
.dropdown-menu{
  left:-50% !important;
}
.header {
  transition: all 0.5s;
  z-index: 99;
  position: -webkit-sticky;
  top: 0; /* required */
  position: sticky !important;
  background: var(--white) ;
  padding: 15px 0;
  margin-bottom: 10px;
  box-shadow:var(--nav-shadow-box);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary-color);
  font-family: var(--font-family-primary);
  margin-top: 3px;
}

/* Navigation Menu   */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  font-family: var(--font-family-primary);
  font-size:var(--h5);
  font-weight: var(--font-weight-bolder);
  color: var(--light-black) ;
  white-space: nowrap;

  background-image: linear-gradient(
    to right,
    var(--secondary-color) 50%,
    var(--black) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

}

.navbar .nav-link:before{
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
.navbar  .nav-link:hover,
.navbar  .nav-link:focus,
.navbar li:hover>.nav-link
{
   background-position: 0;
  }
  
.navbar  .nav-link:hover::before{
    width: 100%;
  }

.navbar .nav-link i,
.navbar .nav-link:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/* .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  /* color: #318CE7; */
  /* color: #1E90FF; */
  /* color: #1877F2; */
  /* color: #0076CE; */
/* } */ 



.navbar .dropdown ul {
  display: block;
  /* text-decoration: ; */
  position: absolute;
  left: 14px;
  top: calc(100% + 18px) !important;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: var(--font-weight-normal);
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--secondary-color);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown-menu:focus>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/* all btn  */
.sign-up-btn{
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--white);
  padding: 7px 20px;
  border-radius: 5px;
  font-weight:var(--font-weight-bolder); 
  margin-left: 15px; 
  transition:all 0.3s ease-in;

}

.radial-out-btn {
  /* padding: 7px 20px; */
  padding: 7px 20px;
  border-radius: 6px;
  border-width: 2px;
  font-weight:var(--font-weight-medium); 
  border-style: solid;
  outline: var(--secondary-color);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
  /* font-size: px; */
  margin-left: 15px;
  cursor: pointer;
  
  transition: 0.25s ease;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  background: transparent;
  position: relative !important;
  overflow: hidden;
  color: var(--secondary-color);
}
.radial-out-btn:active::after{
 background-color: var(--primary-color);
}
.radial-out-btn span{
  position: relative;
  z-index: 1;
}
.radial-out-btn::after {
   
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    content: "";
    position: absolute;
    background: var(--secondary-color);
    width: 150%;
    padding-top: 150%;
    transition: 0.25s ease;
    border-radius: 999px;
    top: 350%;
  }
  
.radial-out-btn:hover::after {
      top: 100% !important;
    }
.radial-out-btn:hover {
    color:var(--white) ;
  }
.sign-up-btn:hover,
.sign-up-btn:focus{
    /* border: none; */
    color: var(--white);
    background-color: var(--secondary-color);
}

.login-btn,
.login-btn:focus {
  background: #0E3386 !important; 
  /* background: #073191 !important;  */
  padding: 8px 20px;
  margin-left: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  /* color: #013289; */
  border-radius: 4px;
  border: none;
  outline: var(--primary-color);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
  color: var(--white) !important;
}

.login-btn:hover,
.login-btn:focus
{
  color: var(--white);
  background: var(--hover-primary-color) !important;
}

.login-btn:active{
 
  color: var(--white);
  background: var(--active-primary-color) !important; 
}

/* end btn  */



/*
 Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--primary-color);
  font-size: var(--font-size-h5)!important;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: var(--white);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}


.sidenav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 999 !important;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 87px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
}
.sidenav ul{
  list-style: none;
  padding: 0;
}

.sidenav li a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    /* color: var(--primary-color); */
    display: block;
    
  background-image: linear-gradient(
    to right,
    var(--secondary-color) 50%,
    var(--black) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
    transition: 0.3s;
}

/* .sidenav a:hover, .offcanvas a:focus{
    color: var(--secondary-color);
} */
.sidenav li a::after{
  content: '';
  background: var(--primary-color);
  display: flex;
  /* position: absolute; */
  text-align: center;
  /* left: 0; */
  
  margin: 0 auto;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}



.sidenav li a:focus,
.sidenav li a:hover
{
 background-position: 0;
}

.sidenav  li a:hover::after{
  width: 12% !important;
}
.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-weight: var(--font-weight-bold);
    font-size: 1.8em;
    margin-left: 50px;
}
.sidenav .closebtn::after {
   width: 0 !important;
}

/*login section  */
.section-login{
width: 100%;
background:var(--secondary-color);
/* height:calc(100% - 50px)  !important; */
height: 100%;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.login-card-img{
  animation: up-down 2s ease-in-out infinite;
  transition: all 0.5s;
}
.login-card-header{
  color:var(--primary-color);
  text-align:center;
  
}
@media (max-width: 767px) {
 
  .signup-card{
    margin-block-end:20px !important;
    margin-block-start:110px !important;
  }
}

.forgot-password-link{

  color:var(--primary-color);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  font-size:var(--font-size-small) !important;

}
.forgot-password-link:hover{
  color:var(--hover-primary-color) !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--hover-primary-color);
}
.login-card-footer-text{
  font-size:var(--font-size-small) !important;
}
.login-card-footer-text a{
  color:var(--primary-color) !important;
  text-decoration: none;
  font-weight: var(--font-weight-medium); 
 transition: all  0.3s;
}
.login-card-footer-text a:hover{
  color:var(--hover-primary-color) !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--hover-primary-color);
}

/* end login section   */

.back-link{
position: absolute;
display: block;
top: 15px;
z-index: 999;
left: 20px;
}
.back-link a{
  font-size:30px;
  color: var(--primary-color);
}


   
 /* loader css  */
 .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgb(205, 232, 255) !important;
  transform: translate(-50%, -50%);
 }
 .book {
  --book-color: var(--primary-color);
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: absolute;
  margin: 32px 0 0 0;
  zoom: 1.5;
  top: 50%;
  left: 50%;
}
.book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: book var(--duration) ease infinite;
}
.book .inner .left,
.book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--book-color);
  position: absolute;
}
.book .inner .left:before,
.book .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: left var(--duration) ease infinite;
}
.book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: right var(--duration) ease infinite;
}
.book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--book-color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}
.book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--book-color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.book ul li:nth-child(0) {
  animation-name: page-0;
}
.book ul li:nth-child(1) {
  animation-name: page-1;
}
.book ul li:nth-child(2) {
  animation-name: page-2;
}
.book ul li:nth-child(3) {
  animation-name: page-3;
}
.book ul li:nth-child(4) {
  animation-name: page-4;
}
.book ul li:nth-child(5) {
  animation-name: page-5;
}
.book ul li:nth-child(6) {
  animation-name: page-6;
}
.book ul li:nth-child(7) {
  animation-name: page-7;
}
.book ul li:nth-child(8) {
  animation-name: page-8;
}
.book ul li:nth-child(9) {
  animation-name: page-9;
}
.book ul li:nth-child(10) {
  animation-name: page-10;
}
.book ul li:nth-child(11) {
  animation-name: page-11;
}
.book ul li:nth-child(12) {
  animation-name: page-12;
}
.book ul li:nth-child(13) {
  animation-name: page-13;
}
.book ul li:nth-child(14) {
  animation-name: page-14;
}
.book ul li:nth-child(15) {
  animation-name: page-15;
}
.book ul li:nth-child(16) {
  animation-name: page-16;
}
.book ul li:nth-child(17) {
  animation-name: page-17;
}
.book ul li:nth-child(18) {
  animation-name: page-18;
}

@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  13%, 54% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%, 55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%, 57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%, 59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%, 61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%, 63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%, 65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%, 67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%, 68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%, 70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%, 72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%, 74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%, 76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%, 78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%, 80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%, 81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%, 83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%, 85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%, 87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}
@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
  }
  46%, 54% {
    transform: rotateZ(-90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}
@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%, 40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%, 59.99% {
    transform-origin: 30px 2px;
  }
  46%, 54% {
    transform: rotateZ(90deg);
  }
  60%, 90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

/* end loader css  */
